:root {
    --bg-color: #080224;
    --text-main: #ffffff;
    --text-dim: #a0a0a0;
    --accent: #ff0df7;
}

body {
    background-color: var(--bg-color);
    color: var(--text-main);
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 90%;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.the_finals_logo {
    margin-top: 2rem;
    margin-bottom: 0rem;
}

.controls {
    margin-top: 20px;
    display: flex;
    gap: 0px;
}

.controls button {
    background: #45007e;
    border: none;
    color: white;
    padding: 12px 12px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s;
}

#btnScore {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#btnRank {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.controls button.active {
    background: #8c00ff;
}

.controls button:hover:not(.active) {
    background: #6100b1;
}

.chart-wrapper {
    position: relative;
    height: 80vh;
    width: 100%;
}

footer {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

footer a {
    color: var(--text-dim);
}

@media (max-width: 600px) {
    .main {
        width: 100%;
        padding: 10px;
    }

    .container {
        padding: 10px;
        width: 100%;
    }

    h1 {
        font-size: 1.2rem;
    }

    .chart-wrapper {
        position: relative;
        height: 64vh;
        width: 100%;
    }
}
